<div class="row-fluid">
  <p id="notice"><%= notice %></p>
  <ul class="breadcrumb-beauty">
    <li>
      <a href="index-2.html"><span class="fs1" aria-hidden="true" data-icon="&#xe002;"></span> Technology</a>
    </li>
    <li>
      <a href="#">Show Technology</a>
    </li>
  </ul>
  <br/>
   <div class="span10">    
    <div class="widget">      
      <div class="widget-header">
        <div class="title">
          <span class="fs1" aria-hidden="true" data-icon="&#xe14b;"></span> Technology Information
        </div>        
      </div>  
      <div class="widget-body">
        <ul class="tasks">
          <li>
            <h4 class="date text-info"> Technology Name :- <%= @technology.name %></h4>
          </li>
        </ul>
       </div>
    </div>
    <div>
    <%= link_to 'New Technology', new_technology_path , :class => "btn btn-success" %>
    <%= link_to 'Edit', edit_technology_path(@technology), :class => "btn btn-success" %>&nbsp;<%= link_to 'Back', technologies_path, :class=>"btn btn-primary"  %>
  </div>
  
</div>


